[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kevinbutchart
[access "refs/for/refs/*"]
	read = group user/kevinbutchart
	push = group user/kevinbutchart
	label-Code-Review = -2..+2 group user/kevinbutchart
	label-Verified = -1..+1 group user/kevinbutchart
	rebase = group user/kevinbutchart
	removeReviewer = group user/kevinbutchart
	submit = group user/kevinbutchart
[access "refs/heads/*"]
	read = group user/kevinbutchart
	create = group user/kevinbutchart
	push = +force group user/kevinbutchart
	pushMerge = group user/kevinbutchart
[access "refs/tags/*"]
	push = +force group user/kevinbutchart
	pushTag = group user/kevinbutchart
	pushSignedTag = group user/kevinbutchart
